p {
    font-family: Arial;
  }
  
  h1 {
    color: maroon;
  }
  
  .title {
    color: rgb(121, 201, 145);
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  .publish-time {
    color: gray;
  }
  
  .cursive {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .capitalize {
    text-transform: capitalize;
  }
  h2.destination {
    font-family: cursive;
  }